# Configuration
# vim: set ts=2 sw=2 sts=2 et si ai ft=sh: 

# Copyright (c) 2013, Andres Aquino <andres.aquino(at)gmail.com>
# This file is licensed under the BSD License version 3 or later. 
# See the LICENSE file.

# where is the application
export SOX_HOME=${HOME}/Projects/SOXMonitor.git

# and, can I put the log files here?
export SOX_LOGS=${SOX_HOME}/logs

# manual files
export MANPATH=${SOX_HOME}/manual:${MANPATH}

